.sort-section {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: end;
    label {
        display: inline;
        padding: 0px 5px;
    }
    select {
        padding: 10px 20px;
        border: 2px solid #5e5e5e;
        border-radius: 2px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: 1px;
        text-overflow: '';
    }
}